body {
    background-image: url("https://img.pngio.com/rick-and-morty-pickle-rick-rick-in-2019-rick-morty-rick-pickle-rick-background-640_1136.jpg");
    font-family: Helvetica, Arial, sans-serif;
    background-size: 25rem;
    margin: 0px;
}

button {
    background-color: #e7e0db;
    color: #000;
    height: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 4px;
}