.container {
    text-align: center;
}

.cardContainer {
        position: relative;
        width: 220px;
        height: 190px;
        margin: 20px;
        display: flex;
        flex-direction: column;
}