
.navContainer{
    width: 100%;
    height: 100px;
    display: flex; 
    flex-direction: row;
    
}


.iContainer{
    height: 100%;
    width: 35%;

}

.navLogo{
    height: 100%;
    width: 100%;
}
.navbarContainer{
    height: 100%;
    width: 65%;
    justify-content: center;

}
.navbar{
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}




.navbarItem{
    height: 3rem;
    width: 6rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border:#98ece0 3px solid;
    background-color:  #62ef24;
    transition: background-color .5s;
    font-size: 1rem;
}

.navbarItem:hover {
    background-color:#98ece0 ;
   ;
    font-size: 1.3rem;
    
  }



  .itemText{
    display: inline-flex;
    height: 100%;
    width: 100%;
    color: rgb(26, 17, 17);
    align-items: center;
    justify-content: center;
    margin: auto;
    



    
    
}

